/*НАЧАЛО АДАПТИВА 1024*/
@media(min-width: 1024px) {

    /*НАЧАЛО ОБЩИХ СТИЛЕЙ 1024*/
    html {
        font-size: 0.9765625vw;
    }

    body {
        padding-bottom: 0;
    }

    section {
        &:nth-last-of-type(1) {
            margin-bottom: 4.8rem;
        }
    }

    h1 {
        font-size: 3.2rem;
        line-height: 4.4rem;
    }

    .desc {
        margin-bottom: 3.2rem;
    }

    .tabbar {
        display: none;
    }

    .title-wrapper {
        margin-bottom: 3.2rem;
    }

    .wrapper {
        padding: 0 6.4rem;
    }

    .view-btn {
        margin: 0;
    }

    .tab-underline {
        &:hover {
            color: var(--black-blue);
        }
    }

    .view-btn__item {
        padding: 0 0.8rem;

        &+& {
            margin-left: 0.8rem;
        }

        svg {
            width: 1.6rem;
            height: 1.6rem;
            margin: 0;
            -webkit-transition: 0.3s ease;
            -o-transition: 0.3s ease;
            transition: 0.3s ease;
        }

        &:not(.active):hover {
            svg {
                stroke: var(--gray);
            }
        }
    }

    .view-btn__item.active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .view-btn__item-text {
        display: none;
    }

    .filters__mobile-btn {
        display: none;
    }

    .ss-scroll {
        opacity: 0;
    }

    .search-input {
        padding: 1rem 9.4rem 1rem 4.2rem;
    }

    .back {
        margin: 0;
        position: absolute;
        top: 12rem;
        left: 6.4rem;
    }

    /*КОНТЕНТНЫЕ СТИЛИ 1024*/
    .content-style {
        max-width: 72.1rem;

        h1 {
            margin-bottom: 3.2rem;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 3.2rem;
        }

        h2 {
            font-size: 2.6rem;
            line-height: 3.2rem;
        }

        h3 {
            font-size: 2.4rem;
            line-height: 3.2rem;
        }

        h4 {
            font-size: 2.2rem;
            line-height: 3.6rem;
        }


        h5 {
            font-size: 2rem;
            line-height: 3.6rem;
        }

        h6 {
            font-size: 1.8rem;
            line-height: 3rem;
        }

        li+li {
            margin-top: 1.2rem;
        }

        ul li ul,
        ol li ol {
            margin-top: 1.2rem;
        }

        ul li ul li,
        ol li ol li {
            margin-top: 0.8rem;
        }


        tr:nth-of-type(1) td {
            padding: 1.6rem 0 1.6rem 3.2rem;
        }

        tr td {
            padding: 1rem 0 1rem 3.2rem;
        }
    }

    .wrapper-iframe {
        width: 58.6rem;
        height: 30.6rem;
        margin: 3.2rem auto;
    }

    .content-img {
        margin: 1.6rem auto;
        width: 45.6rem;
        height: 31.2rem;
    }

    /*КОНЕЦ КОНТЕНТНЫЕ СТИЛИ 1024*/

    /*НАЧАЛО СТИЛЕЙ ШАПКИ 1024*/
    .header {
        background-color: var(--white);
        padding: 2.1rem 0 2.5rem;
        margin-bottom: 3.2rem;
        min-height: unset;
    }

    .header-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .header__search {
        position: static;
        width: 44.8rem;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        -webkit-box-shadow: 0px 10px 50px rgb(226 236 249 / 60%);
        box-shadow: 0px 10px 50px rgb(226 236 249 / 60%);
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    .place {
        color: var(--gray);
        padding: 0;
        max-width: 16.9rem;
        width: 100%;

        &::after {
            content: none;
        }
    }

    .header__icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .header__icons-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;

        &+& {
            margin-left: 0.8rem;
        }

        svg {
            width: 2.2rem;
            height: 2.2rem;
            stroke: var(--gray-dark);
            -webkit-transition: stroke 0.3s ease;
            -o-transition: stroke 0.3s ease;
            transition: stroke 0.3s ease;
        }

        &:not(.header__icons-item--personal):hover {
            svg {
                stroke: var(--black-blue);
            }
        }

        &:not(.header__icons-item--personal):active,
        &:not(.header__icons-item--personal):focus,
        &:not(.header__icons-item--personal):focus-within {
            svg {
                stroke: var(--gray);
            }
        }
    }

    .header__icons-item--personal {
        position: relative;
        -webkit-transition: background-color 0.3s ease;
        -o-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;

        .filters__dots-window-wrapper {
            left: unset;
            right: 0;
        }

        &:hover {
            .icon-personal__head {
                -webkit-animation: head 0.5s;
                animation: head 0.5s;
                -webkit-transform-origin: center center;
                -ms-transform-origin: center center;
                transform-origin: center center;
            }

            .filters__dots-window-wrapper {
                visibility: visible;
                opacity: 1;
                z-index: 10;
            }
        }

        &:active,
        &:focus,
        &:focus-within {
            background-color: var(--orange);

            svg path {
                stroke: var(--white);
            }
        }
    }

    .header__icons-item--personal-unauthorized {
        svg path {
            stroke: var(--gray);
        }

        &:active,
        &:focus,
        &:focus-within {
            background-color: var(--gray-medium);
        }
    }

    @-webkit-keyframes head {
        25% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }

        50% {
            -webkit-transform: scale(1.07);
            transform: scale(1.07);
        }

        75% {
            -webkit-transform: scale(0.72);
            transform: scale(0.72);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes head {
        25% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }

        50% {
            -webkit-transform: scale(1.07);
            transform: scale(1.07);
        }

        75% {
            -webkit-transform: scale(0.72);
            transform: scale(0.72);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .header__logo {
        width: 4.7rem;
        height: 4.2rem;
    }

    .place__text {
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-bottom: 0.4rem;
    }

    .place__address {
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: 600;
    }

    .header__icons-item-logout {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        span {
            color: var(--gray-dark);
        }

        svg {
            width: 1.2rem;
            height: 1.2rem;
            stroke: var(--gray-medium);
            margin-right: 0.8rem;
        }
    }

    /*КОНЕЦ СТИЛЕЙ ШАПКИ 1024*/

    /*НАЧАЛО СТИЛЕЙ БЕЛОЙ ШАПКИ 1024*/
    .header-white {
        .back {
            position: static;
        }

        .header__logo {
            width: 4.7rem;
            height: 4.2rem;
        }

        .header__search {
            -webkit-box-shadow: 0px 10px 50px rgb(226 236 249 / 60%);
            box-shadow: 0px 10px 50px rgb(226 236 249 / 60%);
            width: 40.8rem;

            .search-input {
                display: block;
            }

            .form-input__label {
                position: absolute;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                width: 2rem;
                height: 2rem;

                svg {
                    stroke: var(--gray-medium);
                }
            }
        }

        .input-wrapper {
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
        }

        .place {
            display: block;
        }
    }

    /*КОНЕЦ СТИЛЕЙ БЕЛОЙ ШАПКИ 1024*/
    /*НАЧАЛО СТИЛЕЙ ФИКСИРОВАННОЙ ШАПКИ 1024*/
    .header-fixed {
        margin: 0;
        -webkit-filter: drop-shadow(0px 10px 50px rgba(226, 236, 249, 0.6));
        filter: drop-shadow(0px 10px 50px rgba(226, 236, 249, 0.6));
        -webkit-box-shadow: unset;
        box-shadow: unset;
        padding: 1.6rem 0;

        .header__logo {
            width: 4.8rem;
            height: 4.2rem;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
        }

        .header__search {
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
            max-width: unset;
        }

        .search-input {
            border: 1px solid var(--gray-light);
            border-radius: 1.2rem;
            padding: 1rem 8rem 1rem 4.2rem;
            max-height: 4rem;
        }

        .place {
            -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
            order: 3;
            max-width: 16.9rem;
            padding: 0;
            height: auto;
        }

        .place__text {
            display: block;
        }

        .place__address {
            height: 2rem;
            font-size: 1.2rem;
        }

        .header__icons {
            -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
            order: 4;
        }
    }

    /*КОНЕЦ СТИЛЕЙ ФИКСИРОВАННОЙ ШАПКИ 1024*/

    /*НАЧАЛО СТИЛЕЙ ФУТЕРА 1024*/
    .footer {
        margin-top: 4.8rem;
        padding: 3.2rem 0;
    }

    .footer__socials-links {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .footer-socials__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: end;
        text-align: end;
        row-gap: 3.6rem;
    }

    .footer__sosials-feedback {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0.8rem 1.6rem;
        background-color: var(--gray-extralight);
        border-radius: 1.2rem;
        line-height: 2.2rem;
        color: var(--gray-dark);
        font-weight: 700;

        svg {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            stroke: var(--gray-dark);
            margin-left: 0.8rem;
        }
    }

    .footer__socials-copy {
        font-size: 1.2rem;
        line-height: 1.8rem;
        text-align: left;
    }

    .footer__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .footer__socials {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer-socials__info {
        height: 100%;
    }

    .footer__logo {
        display: inline-block;
        width: 13.7rem;
        height: 3.7rem;

        svg {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
        }
    }

    .footer__links-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }

    .footer__links-title {
        margin-bottom: 1.6rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 700;
        display: block;
    }

    .footer__links-item-wrapper {
        row-gap: 0.4rem;
        max-height: 17.2rem;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-column-gap: 3.2rem;
        -moz-column-gap: 3.2rem;
        column-gap: 3.2rem;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footer__links-item+.footer__links-item {
        margin-top: 0;
    }

    // .footer__links-link {
    //     font-weight: 500;
    //     font-size: 1.2rem;
    //     line-height: 1.8rem;
    //     transition: color 0.3s ease;

    //     &:hover,
    //     &:active,
    //     &:focus,
    //     &:focus-within {
    //         color: var(--black-blue);
    //     }
    // }

    .footer__links-item {

        &+& {
            margin-left: 8rem;
        }
    }

    .footer__links {
        width: 100%;
    }

    .footer__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 3.2rem;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .footer__links-container,
    .footer__socials {
        -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
        order: unset;
    }

    /*КОНЕЦ СТИЛЕЙ ФУТЕРА 1024*/

    .block-swipe__btn {
        display: none;
    }

    /*ВСПЛЫВАШКА 1024*/
    .block-swipe {
        bottom: unset;
        top: unset;
        -webkit-transition: unset;
        -o-transition: unset;
        transition: unset;
    }

    .block-swipe-filters {
        display: none;
    }

    .block-swipe-modal {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        max-width: 64.3rem;
        width: 100%;
        left: 50%;
        border-radius: 2.4rem;
        padding: 6.4rem 0;
        visibility: hidden;
        pointer-events: none;

        .modal-title {
            margin-bottom: 3.2rem;
        }
    }

    .block-swipe-modal.active {
        visibility: visible;
        pointer-events: all;
    }

    .modal-title {
        font-size: 2.4rem;
        line-height: 3rem;
        margin-bottom: 4rem;
    }

    .text {
        line-height: 2.2rem;
    }

    .modal__buttons {
        margin-top: 2.4rem;

        .btn-text+.btn-text {
            margin-left: 4.8rem;
        }
    }

    .modal-close {
        right: 1.6rem;
    }

    /*КОНЕЦ ВСПЛЫВАШКА  1024*/

    /*ВСПЛЫВАШКА ВЫБОР ГОРОДА 1024*/
    .block-swipe-city {
        top: 0.5rem;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        border-radius: 2.4rem;
        right: 13.3rem;
        padding: 1.6rem 2.3rem;
        visibility: hidden;
        opacity: 0;

        .wrapper {
            padding: 0;
        }
    }

    .block-swipe-city.active {
        top: 0.5rem;
        visibility: visible;
        opacity: 1;
    }

    .choice-city__text,
    .choice-city__address {
        text-align: left;
    }

    .choice-city__address {
        line-height: 2rem;
    }

    /*КОНЕЦ ВСПЛЫВАШКА ВЫБОР ГОРОДА 1024*/

    /*ВСПЛЫВАШКА ВЫЙТИ ИЗ ПРОФИЛЯ 1024*/
    .block-swipe-logout,
    .block-swipe-cart-cancel {
        .modal-title {
            margin-bottom: 4rem;
        }

        .modal__buttons {
            margin-top: 4rem;
            -webkit-box-shadow: unset;
            box-shadow: unset;
            padding: 0;
        }
    }

    /*КОНЕЦ ВСПЛЫВАШКА ВЫЙТИ ИЗ ПРОФИЛЯ 1024*/

    /*ВСПЛЫВАШКИ, КОТОРЫЕ НА МОБИЛКАХ ЕЗДЯТ, А НА ПК МОДАЛКИ 1024*/
    .block-swipe-hybrid {
        bottom: unset;
        top: 50%;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        min-width: 64.3rem;
        border-radius: 2.4rem;
        padding: 6.4rem 0;
        visibility: hidden;
        pointer-events: none;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        max-width: 64.3rem;

        .modal-close {
            display: inline-block;
        }

        .wrapper {
            padding: 0 10.4rem;
        }

        .modal-title {
            margin-bottom: 4rem;
        }
    }

    .block-swipe-hybrid.active {
        visibility: visible;
        pointer-events: all;
    }

    /*КОНЕЦ ВСПЛЫВАШКИ, КОТОРЫЕ НА МОБИЛКАХ ЕЗДЯТ, А НА ПК МОДАЛКИ 1024*/

    /*ВСПЛЫВАШКА СПАСИБО ЗА ОБРАЩЕНИЕ 1024*/
    .icon-modal {
        margin-bottom: 4rem;
    }

    /*КОНЕЦ ВСПЛЫВАШКА СПАСИБО ЗА ОБРАЩЕНИЕ 1024*/

    /*ВСПЛЫВАШКА ОБРАТНОЙ СВЯЗИ 1024*/
    .block-swipe-feedback {
        min-height: auto;
    }

    /*КОНЕЦ ВСПЛЫВАШКА ОБРАТНОЙ СВЯЗИ 1024*/

    /*ШАПКА ДЛЯ ТОЧЕК 1024*/
    .header-point {
        min-height: 20.8rem;
        padding-top: 2.1rem;

        &:hover {
            .point-img img {
                transform: translateY(-30%);
                animation: point-img linear 6s !important;
                animation-fill-mode: forwards;
                // -webkit-animation-direction: alternate;
                // animation-direction: alternate;
                // // transform: translateY(-50%);
                // -webkit-transition: all 1.5s;
                // -o-transition: all 1.5s;
                // transition: all 1.5s;
            }
        }

        &:not(:hover) {
            .point-img img {
                // animation: none;
                transform: translateY(-30%);
                // transition: transform 1s ease, -webkit-transform 1s ease;
            }
        }
    }

    .back-span {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: auto;
        height: auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        span {
            display: inline-block;
            font-weight: 500;
            color: var(--white);
            font-size: 1.4rem;
            line-height: 1.8rem;
            -webkit-transition: color 0.3s ease;
            -o-transition: color 0.3s ease;
            transition: color 0.3s ease;
        }
    }

    .header-point__icons-item--cart {
        display: block;
        position: relative;
    }

    .header-point__icons-item--fav {
        position: relative;
    }

    .point-img {
        height: 20.8rem;

        img {
            height: 57rem;
            -webkit-transform: translateY(-30%);
            -ms-transform: translateY(-30%);
            transform: translateY(-30%);
            -webkit-transition: -webkit-transform 1s ease;
            transition: -webkit-transform 1s ease;
            -o-transition: transform 1s ease;
            transition: transform 1s ease;
            transition: transform 1s ease, -webkit-transform 1s ease;
        }
    }



    .point-img img.active {
        -webkit-animation: point-img infinite ease-in-out 25s;
        animation: point-img infinite ease-in-out 25s;
    }

    .point-img img.to-start {
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
        -o-transition: transform 0.3s ease;
        transition: transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    }

    .point-img img.test {
        // transform: translateY(-30%) !important;
    }

    @-webkit-keyframes to-start {
        30% {
            -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
        }

        // 66% {
        //     transform: translateY(-30%);
        // }

        100% {
            -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
        }
    }

    @keyframes to-start {
        30% {
            -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
        }

        // 66% {
        //     transform: translateY(-30%);
        // }

        100% {
            -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
        }
    }

    @-webkit-keyframes point-img {
        // 0% {
        //     transform: translateY(-30%);
        // }

        33% {
            -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
        }

        66% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        // 33% {
        //     transform: translateY(-45%);
        // }

        // 66% {
        //     transform: translateY(0);
        // }

        // 100% {
        //     transform: translateY(-30%);
        // }
    }

    @keyframes point-img {
        // 0% {
        //     transform: translateY(-30%);
        // }

        33% {
            -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
        }

        66% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        // 33% {
        //     transform: translateY(-45%);
        // }

        // 66% {
        //     transform: translateY(0);
        // }

        // 100% {
        //     transform: translateY(-30%);
        // }
    }

    /*КОНЕЦ ШАПКА ДЛЯ ТОЧЕК 1024*/



    /*УВЕДОМЛЕНИЕ О ДОБАВЛЕНИИ В КОРЗИНУ*/
    .cart__notification,
    .fav__notification {
        position: absolute;
        left: 50%;
        top: calc(100% + 1.8rem);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        padding: 0.8rem 1.4rem;
        background: #192A3E;
        border-radius: 0.8rem;
        width: 16.5rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 0;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        min-height: 4.8rem;

        svg {
            width: 1.6rem;
            height: 1.6rem;
            stroke: var(--green);
            margin-right: 1.6rem;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        span {
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: var(--white);
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            top: -1.3rem;
            display: block;
            width: 1.7rem;
            height: 1.7rem;
            background-image: url('../img/icons/notification-triangle.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 1.7rem 1.7rem;
        }
    }

    .cart__notification.active,
    .fav__notification.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-animation: notification 2s ease-in-out;
        animation: notification 2s ease-in-out;
    }

    @-webkit-keyframes notification {
        0% {
            -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
        }

        25% {
            -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
            min-height: 5.3rem;
        }

        50% {
            -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
            min-height: 4.6rem;
        }

        75% {
            -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
            min-height: 4.8rem;
        }

        90% {
            -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
            min-height: 4.8rem;
        }

        100% {
            -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
        }
    }

    @keyframes notification {
        0% {
            -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
        }

        25% {
            -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
            min-height: 5.3rem;
        }

        50% {
            -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
            min-height: 4.6rem;
        }

        75% {
            -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
            min-height: 4.8rem;
        }

        90% {
            -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
            min-height: 4.8rem;
        }

        100% {
            -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
        }
    }

    /*КОНЕЦ УВЕДОМЛЕНИЕ О ДОБАВЛЕНИИ В КОРЗИНУ*/

    /*COOKIE 1024*/
    .cookie {
        max-width: 71.1rem;
        right: 6.4rem;
        bottom: 4rem;
        padding-top: 1.6rem 2.3rem;
        padding: 1.6rem 2.3rem;
        border-radius: 2.4rem;

        .wrapper {
            padding: 0;
        }

        .text {
            font-weight: 700;
            text-align: left;
        }

        .modal__buttons {
            margin-top: 0.8rem;
            padding: 0;
        }

        .modal__buttons-shadow {
            box-shadow: none;
        }
    }

    /*КОНЕЦ COOKIE 1024*/

    .btn-orange {
        &:hover {
            &::before {
                opacity: 1;
                width: calc(100% + 10rem);
                height: calc(100% + 10rem);
            }
        }
    }

    .cart-pin,
    .pin-save {
        display: none;
    }

    /*КОНЕЦ ОБЩИХ СТИЛЕЙ 1024*/

    /*НАЧАЛО СТИЛЕЙ ГЛАВНОЙ СТРАНИЦЫ 1024*/
    .tiles {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2.8rem;
        grid-row-gap: 1.6rem;
    }

    .tiles__item-img-wrapper {
        position: relative;
        max-height: 14rem;
    }

    .tiles__item-img {
        height: 14rem;
    }

    .tiles__item-road {

        span {
            font-size: 1.2rem;
            padding: 0.2rem 0.8rem;
        }

        &:hover {
            span {
                background: rgba(25, 42, 62, 1);
            }

            .tiles__item-road-window-wrapper {
                visibility: visible;
                opacity: 1;
                z-index: 10;
            }
        }
    }

    .tiles__item-heart {
        width: 3.7rem;
        height: 3.7rem;

        svg {
            width: 1.9rem;
            height: 1.7rem;
        }
    }

    .tiles__item-logo {
        width: 1.6rem;
        height: 1.6rem;
    }

    .tiles__item-name-text {
        line-height: 2rem;
    }

    .tiles__item-range {
        margin-top: 0.2rem;
        font-size: 1.2rem;
    }

    .filters__wrapper {
        padding: 0 6.4rem;

        .filters-light {
            padding: 0;
        }
    }

    .filters {
        background-color: #F0F3F8;
        padding: 1.2rem 1.6rem;
        border-radius: 1.2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .filters__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .filters__item {
        display: inline-block;
        font-size: 1.2rem;
        line-height: 1.8rem;
        padding: 0.4rem 1.2rem;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;

        &+& {
            margin-left: 1.4rem;
        }

        &:hover {
            color: var(--gray-dark);
        }
    }

    .filters__item.active {
        background-color: var(--white);
        border-radius: 0.6rem;
    }

    .filters__dots {
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 1.4rem;
        cursor: pointer;
        position: relative;

        svg {
            width: 100%;
            height: 100%;
            stroke: var(--gray-medium);
            -o-object-fit: contain;
            object-fit: contain;
            -webkit-transition: 0.3s ease;
            -o-transition: 0.3s ease;
            transition: 0.3s ease;
        }

        &:hover {
            svg {
                stroke: var(--black-blue);
            }

            .filters__dots-window-wrapper {
                visibility: visible;
                opacity: 1;
                z-index: 10;
            }
        }
    }

    .filters__dots-window-wrapper {
        position: absolute;
        left: 0;
        min-width: 19.4rem;
        padding-top: 1rem;
        top: calc(100% - 0.6rem);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
    }

    .filters__dots-window {
        background-color: var(--white);
        -webkit-box-shadow: 0px 10px 50px rgba(226, 236, 249, 0.6);
        box-shadow: 0px 10px 50px rgba(226, 236, 249, 0.6);
        border-radius: 1.2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
    }

    .filters__dots-window-item {
        display: inline-block;
        padding: 0.8rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 500;
        position: relative;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;

        &::after {
            content: '';
            position: absolute;
            width: calc(100% - 1.6rem);
            left: 0.8rem;
            bottom: 0;
            height: 1px;
            background-color: var(--gray-extralight);
        }

        &:nth-last-of-type(1) {
            &::after {
                content: none;
            }
        }

        &:hover {
            background-color: var(--gray-extralight);
        }
    }

    .filters__dots-window-item.active {
        background-color: var(--gray-light);
    }

    .map-view {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .map-view__stores {
        display: block;
    }

    .ss-content {

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            background: transparent;
        }
    }

    .tiles__item-road--map {
        position: static;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;

        &:hover {
            span {
                background-color: var(--gray-extralight);
            }
        }

        span {
            background-color: var(--gray-extralight);
            color: var(--gray-dark);
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            margin-top: 0.8rem;
        }

        .tiles__item-road-window-wrapper {
            padding: 0;
            margin-top: 0.8rem;
            left: unset;
            -webkit-transform: unset;
            -ms-transform: unset;
            transform: unset;
            position: static;
            z-index: 1;
            opacity: 1;
            visibility: visible;
        }

        .tiles__item-road-window {
            -webkit-box-shadow: none;
            box-shadow: none;
            padding: 0;
            border-radius: unset;
        }
    }

    .tiles__item-road-window-title {
        display: none;
    }

    .tiles__item-road-window-address {
        margin: 0;
        font-size: 1.3rem;
        line-height: 1.8rem;
    }

    .map-view__stores-item {
        .tiles__item-name {
            margin: 0;
        }
    }

    .map-view__stores {
        max-width: 30.4rem;
        width: 100%;
        max-height: 46.2rem;
        // overflow: auto;
    }

    .map-view__map {
        width: 57.8rem;
        height: 46.2rem;
        margin-left: 1.4rem;
    }

    .map-view__stores-item {
        padding: 1.6rem 0;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;
            width: 100%;
            background-color: var(--gray-extralight);
        }

        &:nth-last-of-type(1) {
            &::after {
                content: none;
            }
        }
    }

    /*КОНЕЦ СТИЛЕЙ ГЛАВНОЙ СТРАНИЦЫ 1024*/

    /*######################################################################################################################################*/
    /*КОНТАКТЫ 1024*/
    /*НАЧАЛО СТИЛЕЙ КОНТАКТЫ 1024*/
    .info {
        max-width: 58rem;
    }

    .feedback {
        margin-top: 3.2rem;
    }

    .feedback__map {
        max-width: 42.8rem;
        height: 39.2rem;
    }

    .info__item {
        &:nth-of-type(1) {
            padding-bottom: 2.4rem;
        }
    }

    .feedback {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .feedback__form {
        margin: 0;
    }

    /*КОНЕЦ СТИЛЕЙ КОНТАКТЫ 1024*/

    /*###############################################################################################################################*/
    /*МОДАЛКА ЗАКАЗ СОЗДАН 1024*/
    /*КОНЕЦ МОДАЛКА ЗАКАЗ СОЗДАН 1024*/

    /*###############################################################################################################################*/
    /*СТРАНИЦА ТОЧКИ 1024*/
    .point__title-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        h1 {
            text-align: left;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }
    }

    .point-logo {
        position: static;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        width: 8.8rem;
        height: 8.8rem;
        padding: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-right: 2.4rem;
    }

    .point-page {
        padding-top: 1.6rem;

        &::before {
            height: 51.6rem;
            top: -5rem;
            width: calc(100% + 75rem);
            border-radius: 50%;
        }
    }

    .point__title-wrapper {
        margin-bottom: 3.2rem;
    }

    .point__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.8rem 0;
        border-top: 1px solid var(--gray-extralight);
        border-bottom: 1px solid var(--gray-extralight);
        -webkit-column-gap: 0.8rem;
        -moz-column-gap: 0.8rem;
        column-gap: 0.8rem;
    }

    .point__info-road {
        margin-right: 0.8rem;
    }

    .point__info-phone {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .alert {
        margin-left: 0.4rem;
    }

    .info__phone--hide {
        margin: 0;
    }

    .point__info-address {
        padding: 0;
        margin: 0;
        border: unset;
        max-width: 50%;
        text-align: left;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .preferential {
        margin-top: 4rem;
        max-width: 58rem;
        padding-left: 0.8rem;
    }

    .filters-light {
        overflow: unset;
        margin-top: 4rem;
        padding: 0 6.4rem;
    }

    .filters-light--white {
        margin: 0;

        .filters-light__item {
            font-size: 1.2rem;
            line-height: 1.8rem;

            &:hover {
                color: var(--gray-dark);
            }
        }

        .filters-light__item+.filters-light__item {
            margin-left: 1.4rem;
        }

        .filters-light__item.active {
            background-color: var(--white);
            border-radius: 0.6rem;
            color: var(--gray);
        }
    }

    .cards__container {
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 1.5rem;
    }

    .card {
        min-height: 30.6rem;
        max-height: 30.6rem;
    }

    .card__image {
        height: 14.2rem;
    }

    .card__cost-new {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .card__cost-old {
        margin-left: 0.8rem;
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .card__volume {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .card__btns {
        height: 4.4rem;
    }

    .btn-add {
        padding: 1.2rem;
    }

    .card__btns-count {
        padding: 1.2rem 0.8rem;
        max-height: 4.4rem;
    }

    /*ПУСТАЯ ТОЧКА*/
    .empty__img {
        width: 14.8rem;
        height: 29.4rem;
    }

    /*КОНЕЦ СТРАНИЦА ТОЧКИ 1024*/

    /*###############################################################################################################################*/
    /*ЛК ДАШБОРД 1024*/
    .tiles-icon {
        grid-template-columns: repeat(4, 1fr);
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        grid-column-gap: 1.867rem;
    }

    .tiles-icon__item {
        max-height: 19.4rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 1.6rem;
        height: 19.4rem;
        width: 21rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .tiles-icon__item-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 23.3rem;
        text-align: center;
    }

    .tiles-icon__item-icon {
        margin: 0 0 1.9rem 0;
        width: 5.6rem;
        height: 5.6rem;

        svg {
            width: 4.2rem;
            height: 4.2rem;
        }
    }

    .tiles-icon__item-name {
        -ms-line-clamp: 1;
        -webkit-line-clamp: 1;
        line-clamp: 1;
    }

    /*КОНЕЦ ЛК ДАШБОРД 1024*/

    /*########################################################################################################################################*/
    /*ЛИЧНЫЕ ДАННЫЕ 1024*/
    .personal-data__save {
        display: flex;
    }

    /*КОНЕЦ ЛИЧНЫЕ ДАННЫЕ 1024*/
}

/*КОНЕЦ АДАПТИВА 1024*/