/*НАЧАЛО АДАПТИВА 1500*/

@media(min-width: 1500px) {

    /*НАЧАЛО ОБЩИХ СТИЛЕЙ 1500*/
    html {
        font-size: 0.666668vw;
    }

    section {
        &:nth-last-of-type(1) {
            margin-bottom: 4.8rem;
        }
    }

    .back {
        top: 13.6rem;
        left: 8rem;
    }

    .wrapper {
        padding: 0 8rem;
    }

    .search-input {
        padding: 0.9rem 9.4rem 0.9rem 4.2rem;
    }

    .tab-underline {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    /*КОНТЕНТНЫЕ СТИЛИ 1500*/
    .content-style {
        margin: 0 auto;
    }

    /*КОНЕЦ КОНТЕНТНЫЕ СТИЛИ 1500*/

    /*НАЧАЛО СТИЛЕЙ ШАПКИ 1500*/
    .header {
        padding: 2.4rem 0 1.6rem;
        margin-bottom: 4.8rem;
    }

    .header__logo {
        width: 17.8rem;
        height: 4.8rem;
    }

    .header__search {
        width: 61.5rem;
    }

    .place {
        max-width: 26.7rem;
    }

    /*КОНЕЦ СТИЛЕЙ ШАПКИ 1500*/

    /*НАЧАЛО СТИЛЕЙ БЕЛОЙ ШАПКИ 1500*/
    .header-white {
        .header__logo {
            width: 5.4rem;
            height: 4.8rem;
        }

        .header__search {
            width: 68.3rem;
        }
    }

    /*КОНЕЦ СТИЛЕЙ БЕЛОЙ ШАПКИ 1500*/

    /*ВСПЛЫВАШКА ВЫБОР ГОРОДА 1500*/
    .block-swipe-city {
        right: 20.4rem;
    }

    /*КОНЕЦ ВСПЛЫВАШКА ВЫБОР ГОРОДА 1500*/

    .btn-catalog {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }

    /*КОНЕЦ ОБЩИХ СТИЛЕЙ 1500*/

    /*НАЧАЛО СТИЛЕЙ ГЛАВНОЙ СТРАНИЦЫ 1500*/
    .tiles {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
    }

    .tiles__item-img-wrapper {
        position: relative;
        max-height: 15.6rem;
    }

    .tiles__item-img {
        height: 15.6rem;
    }

    .tiles__item-logo {
        width: 2.4rem;
        height: 2.4rem;
    }

    .map-view__map {
        width: 102rem;
    }

    .map-view__stores {
        max-width: 30.6rem;
    }

    /*КОНЕЦ СТИЛЕЙ ГЛАВНОЙ СТРАНИЦЫ 1500*/

    /*######################################################################################################################################*/
    /*АВТОРИЗАЦИЯ*/
    /*НАЧАЛО СТИЛЕЙ АВТОРИЗАЦИЯ 1500*/
    .btn-text__wrapper {
        margin-top: 2.4rem;
    }

    .btn-text--big {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    /*КОНЕЦ СТИЛЕЙ АВТОРИЗАЦИЯ 1500*/

    /*######################################################################################################################################*/
    /*КОНТАКТЫ 1500*/
    /*НАЧАЛО СТИЛЕЙ КОНТАКТЫ 1500*/
    .contacts {
        max-width: 105.6rem;
        margin: 0 auto;
    }

    /*КОНЕЦ СТИЛЕЙ КОНТАКТЫ 1500*/

    /*###############################################################################################################################*/
    /*СТРАНИЦА ТОЧКИ 1500*/
    .header-point {
        min-height: 30.4rem;
    }

    .point-img {
        height: 30.4rem;
    }

    .point-page {
        &::before {
            top: -4rem;
            width: calc(100% + 130rem);
        }
    }

    .filters-light {
        padding: 0 8rem;
    }

    .point-page__wrapper {
        padding: 0 8rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .point-page__items {
        max-width: 89.6rem;

        .wrapper,
        .filters-light {
            padding: 0;
        }
    }

    .point-page__cart {
        max-width: 39.6rem;
        margin-left: 4.8rem;
        width: 100%;
        height: calc(100vh - 5rem);
        position: -webkit-sticky;
        position: sticky;
        top: 2.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background: var(--white);
        -webkit-box-shadow: 0px 10px 50px rgb(226 236 249 / 60%);
        box-shadow: 0px 10px 50px rgb(226 236 249 / 60%);
        border-radius: 2.4rem 2.4rem 0 0;
    }

    .cart__container {
        max-height: calc(100% - 3.2rem - 2.4rem - 2.4rem - 2.4rem - 7.4rem);
        overflow-y: auto;
    }

    /*КОНЕЦ СТРАНИЦА ТОЧКИ 1500*/
}

/*КОНЕЦ АДАПТИВА 1500*/